@import "_components/styles/partials/body";
@import "_components/styles/partials/nav";
@import "_components/styles/partials/footer";
@import "_components/styles/partials/page-banner";
@import "_components/styles/partials/page-message";

.main {
  width: 100%;
  max-width: $constrained-width;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: column;
}
