@import "components/layouts/promobar-nav-body-footer/styles";
@import "components/partials/article-list/styles";
@import "components/partials/newsletter/styles";

nav {
  display: none;
}

.main {
  max-width: calc($contained-width + 150px);
  justify-content: space-between;
  margin-top: 60px;

  .row {
    display: flex;
    flex-direction: row;
  }

  .meta {
    margin-bottom: 60px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
    }

    p {
      margin-top: 30px;
      font-weight: 500;
      margin-top: 15px;
      font-size: 19px;
    }
  }

  .feed {
    section {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .article-list {
    margin-top: 0px;

    .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 22px;
    }

    .article {
      .title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    img {
      margin-right: 15px;
    }

    .article {
      margin-bottom: 20px;
    }

    .summary {
      font-size: 19px;
    }
  }

  .iconify {
    position: absolute;
    left: 15px;
    color: #818181;
    margin-top: auto;
    font-size: 19px;
    top: 14px;

    &.close {
      display: none;
    }
  }

  .search-container {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    margin-top: 30px;
  }

  input {
    border-radius: 6px;
    padding: 12px 12px 12px 40px;
    border: 2px solid #f4f4f4;
    border-radius: 0px;
    transition: 0.1s;
    border-radius: 3px;

    &:focus,
    &:active,
    &:hover {
      outline: none;
      border: 2px solid black;
    }
  }

  .search {
    width: 100%;
  }

  .subscribe {
    margin-bottom: 40px;

    input {
      padding-left: 12px;
    }
  }
}
