@import "_components/styles/layouts/promobar-nav-body-footer";

.page-home {
  h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 13px;
  }
}
