@import "__components/styles/utils/variables";
@import "__components/styles/partials/forms";

@mixin modal-styles {
  .modal {
    @include reset-header-spacing;
    @include sneaky-labels();

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    display: none;
    top: 0;
    left: 0;

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.33);
      z-index: 0;
    }

    .body {
      border-radius: 6px;
      background: white;
      z-index: 1;
      padding: 15px;
      width: 600px;
    }

    h2 {
      margin-bottom: 5px;
      font-size: 18px;
      font-family: "Inter";
    }

    h3 {
      font-family: "Inter";
    }

    .name {
      margin-bottom: 10px;
    }

    .input {
      background: $color-lighter-gray;
    }

    .input-container {
      margin-bottom: 15px;
    }

    textarea {
      @include form-textarea();
    }

    button {
      @include form-button();
    }

    select {
      @include form-select();
    }
  }
}

.modal-delete {
  @include modal-styles();

  button {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    background: #f04242;
  }

  p {
    margin-top: 10px;
    font-family: "DM Sans";
    font-size: 15px;
  }
}
