@import "components/layouts/promobar-nav-body-footer/styles";
@import "components/utils/mixins";
@import "components/utils/variables";
@import "components/utils/forms";

.page-terms {
  font-size: 18px;
  margin-top: 30px;

  > * {
    margin-bottom: 20px;
  }

  strong {
    font-weight: 600;
    color: $text-dark-darker;
  }

  a {
    text-decoration: underline;
  }
}
